Library/
Packages/
JF Core Systems Test/
Temp/
Demo/
obj/
New Unity Project/
Assets/AllIn1VfxToolkit/
Assets/Honeti/
Assets/TextMesh Pro/
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/AssetImportWorker0.log
